.bg-img1{
    width: 100%;
    height: 400px;
    background-image: url("../img/pacmanbg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    min-height: 400px; 
}
.bg-img1{
  width: 100%;
  height: 400px;
  background-image: url("../img/pacmanbg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  min-height: 400px; 
}
.bg-img1{
  width: 100%;
  height: 400px;
  background-image: url("../img/pacmanbg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  min-height: 400px; 
}
.bg-img1{
  width: 100%;
  height: 400px;
  background-image: url("../img/pacmanbg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  min-height: 400px; 
}
.bg-img1{
  width: 100%;
  height: 400px;
  background-image: url("../img/pacmanbg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  min-height: 400px; 
}
.bg-img1{
  width: 100%;
  height: 400px;
  background-image: url("../img/pacmanbg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  min-height: 400px; 
}
.bg-img1{
  width: 100%;
  height: 400px;
  background-image: url("../img/pacmanbg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  min-height: 400px; 
}
 
.square-left1{
    color: white;
    float: left;
     width: 400px;
     height: 400px;
     background-color: #e2e2e2;  
   font-family: Georgia, 'Times New Roman', Times, serif;
    
    
 }
 