body{
    min-height:80vh;
    display: flex;
    justify-content: left;
    align-items: center;
  
  
}
.covid {
    width: 50px;
    height: 50px;
    
    background-image: url('denteio2.gif');
    display: inline-block;
    background-color: #fcfcfc;
    transition: .5s ease-out;

}

.bloco {
    width: 50px;
    height: 50px;
    background-image: url('bloco.png');
    background-color: orangered;
    display: inline-block;
}

.bem {
    width: 50px;
    height: 50px;
    background-image: url('bem3.gif');
    display: inline-block;
}

.chao {
    width: 50px;
    height: 50px;
   
    display: inline-block;
    background-color: white;
    
}



div {
    margin: -2px;
    vertical-align: top;
}

/* End of CSS */
